body{
    margin: 0;
    padding: 0;
    background-image: url(pic8.jpg);
    -webkit-background-size:cover;
    background-size: cover;
}
.wrapper{
    width:400px;
    height: 390px;
    color: #000;
    top: 50%;
    left: 50%;
    padding: 60px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    text-align: center;
}
h2
{
    text-align: center;
    margin-top: 10%;
    color:green;
    font-size: 30px;
}
h3
{
    text-align: center;
    color: firebrick;
    font-size: 16px;
    margin-top: 3%;
}
.wrapper input
{
    width: 100%;
    margin-bottom: 50px;
}
.wrapper input[type=email], .wrapper input[type=password]
{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 15px;
    opacity: 1;
    color:black;
}
.wrapper input[type=submit]
{
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.wrapper input[type=submit]:hover{
    cursor: pointer;
    background-color: green;
}
.wrapper a
{
    color: darkblue;
    opacity: 0.8;
}